---
---

/* include custom font */
@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadPro-LightIt.eot');
    src: url('../fonts/MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-LightIt.woff2') format('woff2'),
        url('../fonts/MyriadPro-LightIt.woff') format('woff'),
        url('../fonts/MyriadPro-LightIt.svg#MyriadPro-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadPro-Light.eot');
    src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Light.woff2') format('woff2'),
        url('../fonts/MyriadPro-Light.woff') format('woff'),
        url('../fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Lovelo;
    src: url('../fonts/LoveloLineLight.eot');
    src: url('../fonts/LoveloLineLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LoveloLineLight.woff2') format('woff2'),
        url('../fonts/LoveloLineLight.woff') format('woff'),
        url('../fonts/LoveloLineLight.svg#LoveloLineLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Lovelo;
    src: url('../fonts/LoveloBlack.eot');
    src: url('../fonts/LoveloBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LoveloBlack.woff2') format('woff2'),
        url('../fonts/LoveloBlack.woff') format('woff'),
        url('../fonts/LoveloBlack.svg#LoveloBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lovelo;
    src: url('../fonts/LoveloLineBold.eot');
    src: url('../fonts/LoveloLineBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LoveloLineBold.woff2') format('woff2'),
        url('../fonts/LoveloLineBold.woff') format('woff'),
        url('../fonts/LoveloLineBold.svg#LoveloLineBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* clear browser style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* all general tags */
html{font-family: 'Myriad Pro'; overflow-y:scroll; min-width:1000px}
body{background-color:#fff; color:#444; font-size:12px; line-height:1.5em}
h1, h2, h3, h4, h5, h6{font-weight:bold; line-height:1em; font-weight: 900;
    span.heading-line {
        font-weight: 300;
    }}
h1, .h1{font-size:5em}
h2, .h2{font-size:3em}
h3, .h3{font-size:2em}
h4, .h4{font-size:1.5em}
h5, .h5{font-size:1.2em}
h6, .h6{font-size:1em}

p{margin:1em 0}
small{font-size:.833em}
em, i{font-style:italic}
strong, b{font-weight:bold}
code, pre{font-family:monospace}

a{text-decoration:underline}
a:hover, a:focus{text-decoration:none}
a:hover, a:active{outline:none}

hr{background-color:#fff; border:1px solid #fff; border-top:1px solid #aaa; clear:both; margin:2em 0}
blockquote{padding:0.2em 1em 0.2em 2em; border-left:3px solid #eee}

/* project specific */
h1, h2, h3{font-family: 'Lovelo';}

section {
    padding: 6em 0em 3em 0em;
}

/* navigation bar */

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1000;
    .container {
        overflow: auto;
    }
    height: 130px;
    .navbar-brand {
        width: 110px;
        height: 105px;
        overflow: visible;
    }
    .navbar-brand > img {
        width: 95px;
        height: 90px;
    }
    .navbar-nav {
        color: #fff;
        font-size: 150%;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 65px;
        float: right;
        li {
            margin: 0px 2em;
            a {
            color: #fff;
            text-decoration: none;
            }
            a:hover {
                color: #ccc;
            }
        }
        li:last-of-type {
            margin-right: 0px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        .navbar-nav {
            li {
                margin: 0px 1em;
            }
        }
    }
}

/* footer */
footer {
    background-color: #D2D2D2;
    color: #142431;
    padding: 1em 0em;
    text-align: center;
    p {
        display: inline-block;
        font-size: 1.5em;
    }
    p:first-of-type{
        padding-right: 1em;
        border-right: 1px solid #142431;
        margin-right: 1em;
    }
}