<!DOCTYPE html>
<html lang="en-US">
    <div id="home">
    <!--Header-->
    <head>
        <title>Ilene Lu</title>
        <link rel="icon" type="image/png" href="favicon.png" />
        {% include header.html %}
    </head>
    <!--Navigation-->
        {% include navigation.html %}
    <!--Main-->
        <section id = "home-jumbotron">
            <div class="container">
                <div class="jumbotron-main">
                    <h1 class="home-title">ILENE LU</h1>
                </div>
            </div>
        </section>
        <section id="home-my-info">
            <div class="container">
                <h2 class="home-my-info-title">About</h2>
                <div class="home-my-info-content">
                    <div class="home-my-info-content-section">
                        <div class="content-section-pic">
                            <img src="assets/images/university_of_waterloo.png">
                        </div>
                        <div class="content-section-text with-pic">
                            <p>
                            <span class="content-degree">Candidate of Bachelor of Mathematics,</span><span class="content-time"> Sep. 2015 - Present</span>
                            <span>Computer Science, Computational Mathematics, Music Minor</span>
                            <br/>
                                I am interested in computer graphics and computer audio, applications of computer science that directly related to human sensory. I aspire to become a researcher in this two fields.
                            </p>
                        </div>
                    </div>
                    <div class="home-my-info-content-section">
                            <div class="content-section-text">
                                <p>Besides my academic interests, I am passionate about Music, Photography and Fashion Design. <a>Gallery</a></p>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!--footer-->
        {% include footer.html %}
    </div>
</html>
