<!DOCTYPE html>
<html lang="en-US">
    <div id="home">
    <!--Header-->
        {% include header.html %}
    <!--Navigation-->
        {% include navigation.html %}
    <!--Main-->
        <section id = "home-jumbotron">
            <div class="container">
                <div class="jumbotron-main">
                    <h1 class="home-title"><span class="heading-line">I</span>LENE <span class="heading-line">L</span>U</h1>
                    <div class="jumbotron-right">
                        <p class="home-desciption">Apollonius of Perga! Prime number across the centuries. </p>
                        <btn class="callout"><span>View My Resume</span>
                                <img src="assets/images/arrow-right-white.svg"/>
                        </btn>
                    </div>
                </div>
            </div>
        </section>
        <section id="home-my-info">
            <div class="container">
                <h2 class="home-my-info-title"><span class="heading-line">W</span>h<span class="heading-line">o</span> A<span class="heading-line">m</span> I</h2>
                <div class="home-my-info-content">
                    <div class="home-my-info-content-section">
                        <div class="content-section-pic">
                            <img src="assets/images/university_of_waterloo.png">
                        </div>
                        <div class="content-section-text with-pic">
                            <p>
                            Candidate of Bachelor of Computer Science
                            Globular star cluster hearts of the stars Tunguska event birth, 
                            dream of the mind's eye cosmic fugue Euclid inconspicuous motes 
                            of rock and gas? Decipherment! </p>
                        </div>
                    </div>
                    <div class="home-my-info-content-section">
                            <div class="content-section-text">
                                    Rich in mystery globular star cluster tingling of the spine, courage 
                                    of our questions consciousness! Hydrogen atoms culture cosmic 
                                    fugue Euclid cosmos decipherment, radio telescope explorations 
                                    birth radio telescope.
                            </div>    
                    </div>
                </div>
            </div>
        </section>
        <section id="home-my-projects">
            <div class="container">
                <div class="background-image">
                    <img src="assets/images/triangles.svg"/>
                </div>
                <h2 class="home-my-projects-title">My Pr<span class="heading-line">o</span>ject<span class="heading-line">s</span></h2>
                    <div class="home-my-projects-slider">    
                        <div class="container-fluid">
                            <div id="carousel-projects" class="carousel slide" data-ride="carousel" >
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-projects" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-projects" data-slide-to="1"></li>
                                    <li data-target="#carousel-projects" data-slide-to="2"></li>
                                </ol>
      
                                <div class="carousel-inner">
                                <div class="item active">
                                <img src="assets/images/first_slide.svg">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>...</h5>
                                        <p>...</p>
                                    </div>
                                </div>
                                <div class="item">
                                <img src="assets/images/second_slide.svg">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>...</h5>
                                        <p>...</p>
                                    </div>
                                </div>
                                <div class="item">
                                <img src="assets/images/third_slide.svg">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>...</h5>
                                        <p>...</p>
                                </div>
                                </div>
                            </div>
      
                            <a class="carousel-control left" href="#carousel-projects" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="carousel-control right" href="#carousel-projects" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </div>
</html>
