<!DOCTYPE html>
<html lang="en-US">
    <div id="home">
    <!--Header-->
    <head>
        <title>Ilene Lu</title>
        <link rel="icon" type="image/png" href="favicon.png" />
        {% include header.html %}
    </head>
    <!--Navigation-->
        {% include navigation.html %}
    <!--Main-->
        <section id = "home-jumbotron">
            <div class="container">
                <div class="jumbotron-main">
                    <h1 class="home-title">ILENE LU</h1>
                </div>
            </div>
        </section>
        <section id="home-my-info">
            <div class="container">
                <h2 class="home-my-info-title">About</h2>
                <div class="home-my-info-content">
                    <div class="home-my-info-content-section">
                        <div class="content-section-pic">
                            <img src="assets/images/university_of_waterloo.png">
                        </div>
                        <div class="content-section-text with-pic">
                            <p>
                            <span class="content-degree">Candidate of Bachelor of Mathematics,</span><span class="content-time"> Sep. 2015 - Present</span>
                            <span>Computer Science, Computational Mathematics, Music Minor</span>
                            <br/>
                                I am interested in computer graphics and computer audio, applications of computer science that directly related to human sensory. I aspire to become a researcher in this two fields.
                            </p>
                        </div>
                    </div>
                    <div class="home-my-info-content-section">
                            <div class="content-section-text">
                                <p>Besides my academic interests, I am passionate about Music, Photography and Fashion Design. <a>Gallery</a></p>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="home-my-projects">
            <div class="container">
                <div class="background-image">
                    <img src="assets/images/triangles.svg"/>
                </div>
                <h2 class="home-my-projects-title">My Projects</h2>
                    <div class="home-my-projects-slider">
                        <div class="container-fluid">
                            <div id="carousel-projects" class="carousel slide" data-ride="carousel" >
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-projects" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-projects" data-slide-to="1"></li>
                                    <li data-target="#carousel-projects" data-slide-to="2"></li>
                                </ol>

                                <div class="carousel-inner">
                                <div class="item active">
                                <img src="assets/images/responsive-design.png">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>Designed and developed the responsive personal website(In Progress)</h5>
                                        <p>Languages used: HTML5/CSS/Javascript, SASS, AngularJS</p>
                                    </div>
                                </div>
                                <div class="item">
                                <img src="assets/images/petpet.png">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>Designed and developed the Android utility application PetPet(In Progress)</h5>
                                        <p>Petpet is a realistic pet simulator.</p>
                                    </div>
                                </div>
                                <div class="item">
                                <img src="assets/images/dr_do.png">
                                <div class="carousel-caption d-none d-md-block">
                                        <h5>Developed the static of Dr.Do Studio Website(In Progress)</h5>
                                        <p>Languages used: HTML5/CSS/Javascript, SASS</p>
                                </div>
                                </div>
                            </div>

                            <a class="carousel-control left" href="#carousel-projects" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="carousel-control right" href="#carousel-projects" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="home-blogs">
                <div class="container">
                        <h2 class="home-blogs-title">B<span class="heading-line">l</span>o<span class="heading-line">g</span>s</h2>
                        <div class="blog-list">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <img src="assets/images/logo-full-black.svg"/>
                                </div>
                                <h5 class="blog-title">Available Soon</h5>
                                <div class="blog-post-date">...</div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img">
                                    <img src="assets/images/logo-full-black.svg"/>
                                </div>
                                <h5 class="blog-title">Available Soon</h5>
                                <div class="blog-post-date">...</div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img">
                                    <img src="assets/images/logo-full-black.svg"/>
                                </div>
                                <h5 class="blog-title">Available Soon</h5>
                                <div class="blog-post-date">...</div>
                            </div>
                        </div>
                </div>
        </section>
        <!--footer-->
        {% include footer.html %}
    </div>
</html>
